@model project_4.Models.User
@{
    ViewBag.Title = "profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    body {
        background-color: #1674a6;
        background: linear-gradient(135deg, #1674a6 0%, rgb(0 0 0) 100%);
    }
    .parent{
        padding:100px;

    }

    .header {
        /*border-left: 30px solid #b0a7a7;*/
        padding: 20px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

     .header img {
        
        border:4px double white;
        border-radius:50%;
        object-fit:cover;
    }
        .header .hd span {
            font-size: 50px;
            font-weight: bold;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: #f1a873;
            margin-left: 40px;
        }
    .line {
        margin-top: 20px;
        /*        width: 20%;
*/ border: 4px solid #b0a7a7;
        background-color: #b0a7a7;
    }
    p{
        font-size:15px;
        color: white;
        margin:10px;
    }
    .headercontent span {
        font-size: 20px;
        font-style: italic;
        color: #f1a873;
        font-weight: bold;
    }
    .drugContent{
        margin:20px;
    }
        .drugContent h2 {
            padding: 10px;
            border-left: 10px solid #b0a7a7;
            font-size: 30px;
            font-weight: bold;
            color: white;
        }
    .drugs {
        margin: 20px
    }
    button {
        margin:auto 44%;
        width: 160px;
    }
  
    .card {
        margin: 5px;
        border: 3px solid #f1a873;
    }
    .card-body h2 {
        padding: 10px;
        border-left: none;
        font-size: 30px;
        font-weight: bold;
        color: #1674a6;
    }
    .card a {
        margin:20px auto; 
        width:100px;
    }
    .card p {
        font-family: Arial;
        font-size: small;
        font-size: 15px;
        color:black;
    }

    .myAvailable span {
        color: green;
        background-color: #e3e3e3;
        padding: 5px;
        border-radius: 10px;
        margin: 5px;
    }

    .myReserved span {
        color: red;
        background-color: #e3e3e3;
        padding: 5px;
        border-radius: 10px;
        margin: 5px;
    }

    .myApprove span {
        color: orange;
        background-color: #e3e3e3;
        padding: 5px;
        border-radius: 10px;
        margin: 5px;
    }
    

    @@media screen and (max-width:1000px) and (min-width: 760px) {
        .parent {
            padding: 100px;
            margin-top:100px;
        }
    }

</style>

<div class="parent">
    <div class="header">
        <div class="hd">
            @if (Model.UImage != null)
            {
                <td><img src="~/attach/@Model.UImage" width="200" height="200" /></td>

            }
            else
            {
                <td><img src="~/attach/no-image.jpg" width="200" height="200" /></td>

            }
            <span>@Model.UName</span>
        </div>
        <div class="headercontent">
            <p>Email: <span>@Model.Email</span></p>

            <p>Address: <span>@Model.Street, @Model.City, @Model.Governorate</span></p>
            <p>Phone: <span>@Model.Phone</span></p>

            @if (Model.Age != null)
            {
                <p>Age: <span>@Model.Age</span></p>

            }
            else
            {
                <p>Age: <span>Undefined</span></p>

            }
        </div>
        @*<button class="btn btn-outline-light">Edit Profile</button>*@

    </div>
    @Html.ActionLink("Edit Profile", "editProfile", "Home", new { ssn = Model.SSN }, new { @class = "btn btn-outline-light m-2" })

    <div class="line"></div>
    <div class="drugContent">
        <h2>Medicines That I Have</h2>
        <div class="drugs">
            <div class="container-fluid">
                <div class="row">
                    @foreach (var item in ViewBag.drugs)
                    {
                        <div class="myCard col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                            <div class="card">
                                <div class="card-body">
                                    <img src="~/attach/@item.Drug.DImage" width="100%" height="200" />
                                    <h2 class="card-title">@item.Drug.DName</h2>
                                    @if (item.Drug.Dstate == "Reserved")
                                    {
                                        <p class="myReserved card-title">Status: <span>@item.Drug.Dstate</span></p>

                                    }
                                    else if (item.Drug.Dstate == "Available")
                                    {
                                        <p class="myAvailable card-title">Status: <span>@item.Drug.Dstate</span></p>

                                    }
                                    else
                                    {
                                        <p class="myApprove card-title">Status: <span>@item.Drug.Dstate</span></p>

                                    }
                                    <span style="color: tomato; font-weight: bold;">Amount of medicine : </span>@item.Amount
                                    @Html.ActionLink("Delete", "deleteDrug", "Home", new { id = item.Drug.DID }, new { @class = "btn btn-outline-danger m-2" })
                                    @Html.ActionLink("Edit", "editDrug", "Home", new { id = item.Drug.DID }, new { @class = "btn btn-outline-primary m-2" })
                                    @Html.ActionLink("Details", "detailsDrug", "Home", new { id = item.DID }, new { @class = "btn btn-outline-primary m-2" })

                                    @if (item.Drug.Dstate == "Reserved")
                                    {
                                        @Html.ActionLink("Approve", "approveRequest", "Home", new { id = item.Drug.DID }, new { @class = "btn btn-outline-success m-2" })
                                        @Html.ActionLink("Deny", "denyRequest", "Home", new { id = item.Drug.DID }, new { @class = "btn btn-outline-info m-2" })

                                    }
                                    else if (item.Drug.Dstate == "Approved")
                                    {
                                        @Html.ActionLink("Deny", "denyRequest", "Home", new { id = item.Drug.DID }, new { @class = "btn btn-outline-info m-2" })

                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="btns">
        @Html.ActionLink("Add Medicine", "addDrug", "Home", new { @class = "btn btn-outline-light" })
        @*<button class="btn btn-outline-light">Add Medicine</button>*@
    </div>
    <div></div>
</div>



<!--<h2>@Model.UName</h2>
<table width="100%">
    <tr>
        <td><span style="color:tomato">Phone:</span> @Model.Phone<br /><span style="color:tomato">Age:</span> @Model.Age</td>-->
        @*@if (Model.UImage != null)
        {
            <td><img src="~/attach/@Model.UImage" width="200" height="200" /></td>

        }
        else
        {
            <td><img src="~/attach/no-image.jpg" width="200" height="200" /></td>

        }
        <td></td>
    </tr>
    <tr>
        <td><span style="color:tomato">Address:</span> @Model.Street, @Model.City, @Model.Governorate<br /><span style="color:tomato">E-mail:</span> @Model.Email</td>
    </tr>*@
    <!--<tr>
        @ViewBag.course
    </tr>
</table>-->

